input{
	display:block;
	visibility: hidden;
}

label {
	cursor:pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:before {
	content:"Off";
	position:absolute;
	top:5px;
	left:5px;
	Width:90px;
	height:90px;
	background:black;
	border-radius:90px;


}
label:after {
	content: "On";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: white;
	border-radius: 90px;
	
}

body {
	display:flex ;
	justify-content: center;
	align-items: center;
	height: 50em;
}

