body { 
		background-color: lightblue;
}

h1 {
	color: black;
	text-align: center;
}

p.test {
	display:block;
	margin:auto;
	text-align: center;
	color: black;
	
}


h4 {
	text-transform: capitalize;
}