



button {
	cursor: pointer;
	
}
.hidden {
	display: none;
}

/**************/
/*    App     */
/**************/

#game {
	margin: 0;
	background-color: gray;
	font-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#pics{
	height: 25%;
	width: 25%;
	
}

#playerPic1{
	padding-top:3em;
	float:left;
	color: black;
}

#playerPic2{
	padding-top:3em;
	float:right;
	color: black;
}

#warButton{
	padding-left:0.525em;
}

#shuffle{
	font-size:0.5em;
	position: inherit;
    border: 300px;
	border-radius: 150px;
}

#game>header{
	text-align: center;
	padding: 0.25em;
	font-size: 1.5em;
	color: WhiteSmoke;
	background-color: green;
}
#game>footer {
	text-align: center;
	padding: 0.25em;
	font-size: 1.5em;
	color: WhiteSmoke;
	background-color: green;
}
#main {
	background-color: gray;
	margin:4em;
}
