body { 
		background-color: lightblue;
}

h1 {
	color: black;
	text-align: center;
}

p.test {
	display:block;
	margin:auto;
	text-align: center;
	color: black;
	
}


h4 {
	text-transform: capitalize;
}

form {
      width:400px;
      margin:50px auto;
	  padding-top: auto;
}

.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:1px solid #dbdbdb;
}


.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}

.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}



