body {
	font: 1em Verdana, Geneva, sans-serif;
	padding: 0;
	margin: 5px;
	color: Black;
	background-color: WhiteSmoke;
}

h1 
{
	text-align:center;
	font-size: 10em;
}

div 
{	
	padding: 0;
	margin: 0;
}

header
{
	text-align:center;
}


footer
{
	text-align: center;
}


button {
	cursor: pointer;
}
.hidden {
	display: none;
}

/**************/
/*    App     */
/**************/

#game {
	padding: 0;
	margin: 4px;
	background-color: #bbc;
}
#game>header {
	padding: 0.25em;
	font-size: 1.5em;
	color: WhiteSmoke;
	background-color: green;
}
#game>footer {
	padding: 0.25em;
	font-size: 1.5em;
	color: WhiteSmoke;
	background-color: green;
}
#main {
	margin: 1em;
}
